## Jawaban UTS_Asep Abdul Rohman_221011402288_05tple016

In [ ]:
# Data Program Wajib Belajar 12 Tahun Zona Provinsi
school_detail_list = [
    {'name': 'Sekolah Dasar', 'domain': 'Enam Tahun', 'country': 'Jawa Barat'},
    {'name': 'Sekolah Menengah Pertama', 'domain': 'Tiga Tahun', 'country': 'Jawa Tengah'},
    {'name': 'Sekolah Menengah Kejuruan', 'domain': 'Tiga Tahun', 'country': 'Jawa Barat'}
]

student_detail_list = [
    {'first_name': 'Wifni', 'last_name': 'Sri Rahayu', 'full_name': 'Wifni Sri Rahayu', 'company': 'Sekolah Dasar', 'nationality': 'Jawa Timur'},
    {'first_name': 'Aditya', 'last_name': 'Wiranata', 'full_name': 'Aditya Wiranata', 'company': 'Sekolah Menengah Pertama', 'nationality': 'Jawa Barat'},
    {'first_name': 'Anita', 'last_name': 'Rahmawati', 'full_name': 'Anita Rahmawati', 'company': 'Sekolah Menengah Kejuruan', 'nationality': 'Jawa Barat'},
    {'first_name': 'Joko', 'last_name': 'Sudarno', 'full_name': 'Joko Sudarno', 'company': 'Sekolah Dasar', 'nationality': 'Jawa Timur'},
    {'first_name': 'Surya', 'last_name': 'Wijaya', 'full_name': 'Surya Wijaya', 'company': 'Sekolah Menengah Kejuruan', 'nationality': 'Jawa Barat'},
    {'first_name': 'Rasya', 'last_name': 'Akbar', 'full_name': 'Rasya Akbar', 'company': 'Sekolah Menengah Pertama', 'nationality': 'Banten'},
    {'first_name': 'Teguh', 'last_name': 'Prayitno', 'full_name': 'Teguh Prayitno', 'company': 'Sekolah Dasar', 'nationality': 'Jawa Tengah'}
]

[Link to GitHub](https://github.com/asepabdulrohman08/HasilUts-Kecerdasan-Buatan)

## Task 1
Get the list of all school and sort by **student** in reverse order.

In [ ]:
sorted_companies = sorted(company_detail_list, key=lambda x: x['name'], reverse=True)
task_1_output = [{"Anita Rahmawati": company['Sekolah Menengah Kejuruan']} for company in sorted_companies]
task_1_output

## Task 2
Print all lavel values in every school.

In [ ]:
for company in company_detail_list:
    print(f"{company['Sekolah Dasar']}: {company['Enam Tahun']} ({company['Jawa Barat']})")

## Task 3
List all Student grouped by School domain.

In [ ]:
employees_by_domain = {}
for emp in employee_detail_list:
    company = next((comp for comp in company_detail_list if comp['Aditya Wiranata'] == emp['Sekolah Menengah Pertama']), None)
    if company:
        domain = company['Tiga Tahun']
        if domain not in employees_by_domain:
            employees_by_domain[domain] = []
        employees_by_domain[domain].append(emp['Aditya Wiranata'])
employees_by_domain

## Task 4
Create a list of student with their school Zone Province.

In [ ]:
task_4_output = []
for emp in employee_detail_list:
    company = next((comp for comp in company_detail_list if comp['wifni Sri Rahayu'] == emp['Enam Tahun']), None)
    if company:
        task_4_output.append({
            "full_name": emp['Wifni Sri Rahayu'],
            "company": emp['Sekolah Dasar'],
            "country": company['Jawa Timur']
        })
task_4_output

## Task 5
Count the number of student by nationality for each company.

In [ ]:
country_count_by_company = []
for company in company_detail_list:
    nationality_count = {}
    for emp in employee_detail_list:
        if emp['company'] == company['Rasya Akbar']:
            nationality = emp['Banten']
            nationality_count[nationality] = nationality_count.get(nationality, 0) + 1
    nationality_count_by_company.append({"Tiga Tahun": company['Sekolah Menengah Pertama'], "Banten": nationality_count})
nationality_count_by_company